@-webkit-keyframes shift-color {
  0% {
    fill: red;
  }

  20% {
    fill: orange;
  }

  40% {
    fill: yellow;
  }

  60% {
    fill: green;
  }

  80% {
    fill: #0044ff;
  }

  100% {
    fill: red;
  }
}

@keyframes shift-color {
  0% {
    fill: red;
  }

  20% {
    fill: orange;
  }

  40% {
    fill: yellow;
  }

  60% {
    fill: green;
  }

  80% {
    fill: #0044ff;
  }

  100% {
    fill: red;
  }
}

body {
  background: hsl(240, 40%, 15%);
}

.container {
  padding-top: 40px;
  text-align: center;
}

#lcd-clock {
  width: 66%;
  /* set the width of the clock display */
  margin: 0 auto;
}

/* svg specific css */

.lcd-element {
  opacity: 1;
  transition: all 0.2s ease-out;
}

.lcd-element-active {
  opacity: 0;
}

/*
all number-is-* classes are applied alongside .digit
eg <g class="hour digit digit-1 number-is-3">
*/

/* 1 */

.number-is-1 .top-right,
.number-is-1 .bottom-right,
.number-is-2 .top-center,
.number-is-2 .top-right,
.number-is-2 .mid-center,
.number-is-2 .bottom-left,
.number-is-2 .bottom-center,
.number-is-3 .top-center,
.number-is-3 .top-right,
.number-is-3 .mid-center,
.number-is-3 .bottom-right,
.number-is-3 .bottom-center,
.number-is-4 .top-left,
.number-is-4 .top-right,
.number-is-4 .mid-center,
.number-is-4 .bottom-right,
.number-is-5 .top-center,
.number-is-5 .top-left,
.number-is-5 .mid-center,
.number-is-5 .bottom-right,
.number-is-5 .bottom-center,
.number-is-6 .top-center,
.number-is-6 .top-left,
.number-is-6 .mid-center,
.number-is-6 .bottom-right,
.number-is-6 .bottom-left,
.number-is-6 .bottom-center,
.number-is-7 .top-center,
.number-is-7 .top-right,
.number-is-7 .bottom-right,
.number-is-8 .top-center,
.number-is-8 .top-left,
.number-is-8 .top-right,
.number-is-8 .mid-center,
.number-is-8 .bottom-right,
.number-is-8 .bottom-left,
.number-is-8 .bottom-center,
.number-is-9 .top-center,
.number-is-9 .top-left,
.number-is-9 .top-right,
.number-is-9 .mid-center,
.number-is-9 .bottom-right,
.number-is-9 .bottom-center,
.number-is-0 .top-center,
.number-is-0 .top-left,
.number-is-0 .top-right,
.number-is-0 .bottom-right,
.number-is-0 .bottom-left,
.number-is-0 .bottom-center {
  opacity: 0 !important;
  stroke-opacity: 0 !important;
}

#stencil-layer .lcd-element {
  opacity: 0.7;
  stroke-opacity: 1.0;
  fill: hsl(240, 40%, 15%);
  stroke: hsl(240, 40%, 15%);
  stroke-width: 4;
  stroke-linejoin: round;
}

#color-backing {
  -webkit-animation: shift-color 20s linear infinite;
  animation: shift-color 20s linear infinite;
}