.red {
  fill: hsla(0, 100%, 50%, 1.0);
  stroke: hsla(0, 100%, 50%, 1.0);
}

.orange {
  fill: hsla(18, 100%, 57%, 1.0);
  stroke: hsla(18, 100%, 57%, 1.0);
}

.yellow {
  fill: hsla(48, 100%, 61%, 1);
  stroke: hsla(48, 100%, 61%, 1);
}

.green {
  fill: hsla(123, 59%, 40%, 1);
  stroke: hsla(123, 59%, 40%, 1);
}

.blue {
  fill: hsla(219, 90%, 42%, 0.8);
  stroke: hsla(219, 90%, 42%, 0.8);
}

.purple {
  fill: hsla(278, 85%, 45%, 1);
  stroke: hsla(278, 85%, 45%, 1);
}

.fuchsia {
  fill: hsla(305, 82%, 69%, 1);
  stroke: hsla(305, 82%, 69%, 1);
}

.white {
  fill: white;
  stroke: white;
}

/*Add: pink purple*/

body {
  background: hsl(27, 19%, 9%);
}

.container {
  padding-top: 10%;
  text-align: center;
}

#lcd-clock {
  width: 66%;
  /* set the width of the clock display */
  margin: 0 auto;
}

/* svg specific css */

.lcd-element {
  opacity: 0.75;
  transition: all 0.5s ease-out;
}

.lcd-element-active {
  opacity: 0.25 !important;
}

/*
all number-is-* classes are applied alongside .digit
eg <g class="hour digit digit-1 number-is-3">
*/

/* 1 */

.number-is-1 .top-right,
.number-is-1 .bottom-right,
.number-is-2 .top-center,
.number-is-2 .top-right,
.number-is-2 .mid-center,
.number-is-2 .bottom-left,
.number-is-2 .bottom-center,
.number-is-3 .top-center,
.number-is-3 .top-right,
.number-is-3 .mid-center,
.number-is-3 .bottom-right,
.number-is-3 .bottom-center,
.number-is-4 .top-left,
.number-is-4 .top-right,
.number-is-4 .mid-center,
.number-is-4 .bottom-right,
.number-is-5 .top-center,
.number-is-5 .top-left,
.number-is-5 .mid-center,
.number-is-5 .bottom-right,
.number-is-5 .bottom-center,
.number-is-6 .top-center,
.number-is-6 .top-left,
.number-is-6 .mid-center,
.number-is-6 .bottom-right,
.number-is-6 .bottom-left,
.number-is-6 .bottom-center,
.number-is-7 .top-center,
.number-is-7 .top-right,
.number-is-7 .bottom-right,
.number-is-8 .top-center,
.number-is-8 .top-left,
.number-is-8 .top-right,
.number-is-8 .mid-center,
.number-is-8 .bottom-right,
.number-is-8 .bottom-left,
.number-is-8 .bottom-center,
.number-is-9 .top-center,
.number-is-9 .top-left,
.number-is-9 .top-right,
.number-is-9 .mid-center,
.number-is-9 .bottom-right,
.number-is-9 .bottom-center,
.number-is-0 .top-center,
.number-is-0 .top-left,
.number-is-0 .top-right,
.number-is-0 .bottom-right,
.number-is-0 .bottom-left,
.number-is-0 .bottom-center {
  opacity: 0 !important;
  stroke-opacity: 0 !important;
}

#stencil-layer .lcd-element {
  opacity: 0.9;
  stroke-opacity: 1.0;
  fill: hsl(27, 19%, 9%);
  stroke: hsl(27, 19%, 9%);
  stroke-width: 4;
  stroke-linejoin: round;
}

#color-backing {
  transition: fill 8s linear, stroke 8s linear;
}