@-webkit-keyframes shift-color {
  0% {
    fill: red;
  }

  20% {
    fill: orange;
  }

  40% {
    fill: yellow;
  }

  60% {
    fill: green;
  }

  80% {
    fill: #0044ff;
  }

  100% {
    fill: red;
  }
}

@keyframes shift-color {
  0% {
    fill: red;
  }

  20% {
    fill: orange;
  }

  40% {
    fill: yellow;
  }

  60% {
    fill: green;
  }

  80% {
    fill: #0044ff;
  }

  100% {
    fill: red;
  }
}

/*
@-moz-keyframes shift-color { from fill: hsl(0, 50%, 50%); } to { fill: hsl(360, 50%, 50%);  } }
@-o-keyframes shift-color { from fill: hsl(0, 50%, 50%); } to { fill: hsl(360, 50%, 50%); } }
@keyframes shift-color {
  from {
    fill: hsl(0, 50%, 50%);
  } 
  to {
    fill: hsl(360, 50%, 50%);
  } 
}*/

body {
  background: #3b0209;
  background: #0e023a;
}

.container {
  padding-top: 40px;
  text-align: center;
}

#lcd-clock {
  width: 66%;
  /* set the width of the clock display */
  margin: 0 auto;
}

/* svg specific css */

.lcd-element {
  fill: hsl(0, 50%, 50%)
		transition: all 0.2s ease-out;
}

.lcd-element-active {
  fill: hsl(0, 50%, 50%);
}

/*
	all number-is-* classes are applied alongside .digit
	eg <g class="hour digit digit-1 number-is-3">
	*/

/* 1 */